// Body
$body-bg: #f8fafc;

//Headers
$headings-font-weight: 300;

// Typography
$font-family-sans-serif: Roboto, Lato, Montserrat, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-weight-base: 300;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Nuevos añadidos
$colorLogo: #fcda06;
$colorPrincipal: #75cf93;
$colorRojoSuave: #ff7672;
$colorNaranjaSuave: #ffa95b;
$colorAmarilloSuave: #fffe85;
$colorVerdeSuave: #87ff82;
$colorHeader: #75cf93;
$dark: #404b69;

.resaltar { /* resaltar la row elegida en la tabla de camaras*/
    background: $colorHeader;
    color: white;
}

.bg-color-cards {
    background: whitesmoke; /* Color la vieja confiable*/
}

.list-group a.bg-color-cards:hover{
    background: #545f80 !important;
}
.list-group a.bg-color-cards.text-color-borrar-suave:hover{
    color: $colorRojoSuave !important;
}
.list-group-item.bg-color-cards{
    background: $dark;
}

.table-bordered td{
    border-bottom: 1px solid #d1d1d1 !important;
}

// modificado
$theme-colors: (
    "color-primario": $colorPrincipal,
    "color-secundario": $colorLogo,
    "color-borrar-suave":$colorRojoSuave,
    "color-estadisticas-suave":$colorNaranjaSuave,
    "color-datos-suave":$colorAmarilloSuave,
    "color-anyadir-suave":$colorVerdeSuave,
    "color-header": $colorHeader,
    "color-dark": $dark,
);

// tipo de letra añadida
@import url("https://fonts.googleapis.com/css?family=Faster+One&display=swap");
