// Body
$body-bg: #283149;

// Typography
$font-family-sans-serif: Lato, Roboto, Montserrat, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//Nuevos añadidos
$colorLogo: #fcda06;
$colorPrincipal: #00818a;
$colorRojoSuave: #ff7672;
$colorNaranjaSuave: #ffa95b;
$colorAmarilloSuave: #fffe85;
$colorVerdeSuave: #87ff82;

//Escpecificos dark mode
$body-color: #dbedf3;
$navbar-light-color: #dbedf3;
$card-bg: #404b69;
//$card-hover: #545f80;
$dark: #dbedf3;
//$secondary: #a8b1b9;
$border-color: #283149;
$primary: #165588;
//#2e84ca;


// modificado
$theme-colors: (
    "color-primario": $colorPrincipal,
    "color-secundario": $colorLogo,
    "color-borrar-suave":$colorRojoSuave,
    "color-estadisticas-suave":$colorNaranjaSuave,
    "color-datos-suave":$colorAmarilloSuave,
    "color-anyadir-suave":$colorVerdeSuave,
);
