/*--------LOGIN---------*/

/*LEFTSIDE*/

body{
    background-color: rgb(253, 255, 251);
}

#login-main-container{
    color: rgba(29, 31, 36, 0.95);
    font-weight: 300;
}

#login-title{
    white-space: nowrap;
}

#login-title,.login-quote{
    font-weight: 100;
}

.login-form{
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .login-form{
        width: 75%;
    }
}

.login-input-label{
    color: gray;
    font-size: 0.9rem;
    text-align: left;
    width: 100%;
}

#login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-logo img{
    width: 90px;
    height: auto;
}

#login-logo{
    position: absolute;
    top: 1rem;
    left: calc(1rem - 15px);
}


#login-form-container input[type="email"], #login-form-container input[type="password"]
{
    background: transparent !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #404b69 !important;
    outline: none !important;
    padding-left: 0 !important;
    color: #404b69 !important;
}

#login-form-container input[type="email"]:-webkit-autofill, #login-form-container input[type="password"]:-webkit-autofill,
#login-form-container input[type="email"]:hover, #login-form-container input[type="password"]:hover,
#login-form-container input[type="email"]:focus, #login-form-container input[type="password"]:focus,
#login-form-container input[type="email"]:active, #login-form-container input[type="password"]:active
{
    -webkit-box-shadow: 0 0 0 30px rgb(253, 255, 251) inset !important;
}

#login-form-container .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sign-up-button{
    border-radius: 0;
    background-color: #404b69;
    color: whitesmoke;
}
.sign-up-button:hover{
    background-color: #586387;
    color: white;
}

/*RIGHTSIDE*/

#login-bg-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.pinimg.com/originals/d9/f6/40/d9f6409fff37ade8e72d8e94d133df5c.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
}
#carouselExampleIndicators{
    z-index: 2;
}

#laptop{
    /*animation: laptop-fly 3s infinite;*/
    animation: laptop-move 1.5s;
}
.slide-wrapper{
    height: 500px;
}

.login-quote{
    color: whitesmoke;
    font-size: 2.2rem;
    z-index: -1;
    position: absolute;
    left: 50%;
}
#first-quote{
    animation: text-move 1.5s;
    margin-left: -10rem;
}
#second-quote{
    margin-left: -10rem;
}
#third-quote{
    margin-left: -14rem;
}

.carousel-inner img{
    width: 70% !important;
    margin: 0 auto;
    height: auto;
}

.carousel-control-prev, .carousel-control-next{
    display: none;
}

.carousel-indicators{
    bottom: -7rem;
}


@keyframes text-move {
    0%{
        transform:translateY(-200px);
    }
    100% {
        transform:translateY(0);
    }
}

@keyframes laptop-move {
    0%{
        transform:translateY(100px);
    }
    100% {
        transform:translateY(0);
    }
}

@keyframes laptop-fly {
    50% {
        transform:translateY(20px);
    }
}



