html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* El Logo o nombre app*/
.navbar-brand {
    font-family: 'Faster One', cursive;
    font-size: 1.025rem;
}

#img-footer {
    width: 30px;
    height: auto;
}

.card:hover {
    background: whitesmoke;
}

.dropdown-menu {
    z-index: 10001;
}

.paginacion { /* Por si acaso en la version movil se pasa de anchura*/
    overflow: auto;
}

/* Incidencias */
.lugar-label-container {
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}

.estado-label{
    font-size: .85rem;
}

.card-title {
    font-size: 1.2rem;
}


/* VISTA de las Cámaras*/
#mapa-camaras {
    width: 100%;
    height: 400px;
}


/* MAPA DEL OPERADOR */
#map-container, #tecnico-fullscreen-data {
    font-family: 'Montserrat', sans-serif;
}

#map-container {
    height: 92vh;
    position: relative;
    margin-top: -0.5rem !important;
    overflow-x: hidden;
}

#map {
    height: 100%;
    z-index: 1;
}

#map-search-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    width: 30%;
    display: none;
}


#map-legend-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    z-index: 2;
    display: none;
}

#map-legend {
    margin: 0 auto;
    width: 20%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    height: calc(1.6em + 0.75rem);
}

.gmnoprint {
    display: none;
}

.gm-control-active {
    display: none;
}

.infoBox, .infoBoxTecnico {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    background: #fdfdfd;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 0.95rem;
    -webkit-box-shadow: 4px 4px 5px -6px rgba(89, 89, 89, 1);
    -moz-box-shadow: 4px 4px 5px -6px rgba(89, 89, 89, 1);
    box-shadow: 4px 4px 5px -6px rgba(89, 89, 89, 1);
}

.infoBox {
    width: 450px;
    height: 250px;
}

#infoBoxSeparator {
    margin: 10px 0;
}

#infoBoxTitle {
    font-size: 1.3rem;
    font-weight: 300;
}

#infoBoxkmTime {
    position: absolute;
    bottom: 0;
    right: 0;
}

#infoBoxInsideWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#infoBoxkmTime span {
    margin-right: 15px;
    font-weight: 300;
    color: #0570c3;;
}

.infoBoxDataTitles {
    font-weight: 400;
}

.infoBoxData {
    font-weight: 300;
}

.btn-scrollers {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-scrollers:hover {
    cursor: pointer;
}


/*Tabla Tecnicos*/

#table-header-container {
    display: none;
    text-align: center;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

#table-header-container .fas {
    margin: 0 0 5px 15px;
    font-size: 1rem;
}

#tabla-tecnicos-disponibles {
    display: none;
    margin: 0 auto;
    width: 60%;
}

#tabla-tecnicos-disponibles th {
    width: 22.5%;
}

#tabla-tecnicos-disponibles th:nth-last-child(1) {
    width: 10%;
}

#tecnico-fullscreen-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tecnico-data-container {
    font-weight: 400;
    width: 100%;
    margin-bottom: 3rem;
}

#infoBoxInsideWrapper .fas {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

#tabla-tecnicos-disponibles .mensaje-tecnico-notificado {
    display: none;
    position: absolute;
    border: none;
    border-left: 1px solid #1cffa1;
    margin-left: 2.5rem;
    padding-left: 0.5rem;
}

#tabla-tecnicos-disponibles .mensaje-tecnico-notificado {
    color: #3490dc;
}

/*Dropdwon filtros*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#cross-remove-filtro {
    background: none;
    border: none;
    margin-left: 0.5rem;
    color: white;
    padding: 0;
}

#btn-filtro-actual {
    padding: 0.375rem 0.75rem;
    margin-left: 0.5rem;
    background-color: #75CF92;
    border: 1px solid #75CF92;
}

.filters-container {
    position: relative;
    display: flex;
}


.leyenda-filtro-default button {
    border: none;
    background-color: inherit;
}

/*Card incidencia*/
.card-incidencia .card-body{
    padding: 0;
}

.card-incidencia{
    height: 170px;
}

.card-incidencia-nueva {
    position: relative;
    border: 1px solid rgba(55, 207, 95, 1);
    animation: blinkerBorder 2s linear infinite;
}

.nueva-incidencia-container span {
    color: #0b7731;
}

.glow {
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    animation: blinker 2s linear infinite;
    border-radius: 50%;
    background-color: #47c172;
    margin-right: 0.5rem;
}

@keyframes blinker {
    /*0%->opacity:1 / 50%->opacity:0 / 100%->opacity:1*/
    50% {
        opacity: 0;
    }
}

@keyframes blinkerBorder {
    /*0%->opacity:1 / 50%->opacity:0 / 100%->opacity:1*/
    50% {
        border: 1px solid rgba(55, 207, 95, 0);
    }
}



/* MAPA FINAL DEL TECNICO Y EL RESTO - SOLO VISUALIZACIÓN */
#final-map {
    height: 500px;
}

.final-map-container{
    margin: 1rem 0;
}

.incidencia-show-wrapper h2{
    margin: 3rem 0 1rem 0;
}

.vista-show-buttons-container{
    display: flex;
    justify-content: space-between;
}
.vista-show-buttons-container a, .vista-show-buttons-container button{
    width: 49%;
}


.infoBoxTecnico {
    width: 350px;
    height: 120px;
}

/*Sin incidencias*/
.sin-incidencias {
    text-align: center;
    margin-top: 10rem;
}


.loading-logo {
    position: fixed;
}

.loading-logo-estadisticas{
    position: absolute;
}

.loading-logo-estadisticas, .loading-logo{
    width: 150px;
    height: 150px;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    z-index: 1;
}



.loading-logo img, .loading-logo-estadisticas img {
    width: 100%;
    height: auto;
    animation: loading 2s infinite;
}



.table-bordered th, .table-bordered td {
    border: none;
}

.table-bordered thead td{
    border-bottom: none;
}

.table-bordered td{
    border-bottom: 1px solid #727d98;
}

.table td{
    vertical-align: bottom;
}

.datos-show p{
    margin-right: 1rem;
}


.datos-show strong{
    color: #0f8134;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 60vh;
    width: 50vw;
}


#tabla-lugares tr:hover{
    cursor: pointer;
}

.media-container{
    margin-top: 2rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5.5rem;    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.7rem;            /* Footer height */
}

/*ANIMATIONS*/

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
    .card-incidencia{
        height: 180px;
    }
    .chart-container {
        position: relative;
        height: 60vh;
        width: 50vw;
    }
    .page-title{
        font-size: 1.6rem;
    }
    .infoBoxTecnico{
        width: 87%;
    }
    .media-container {
        margin-top: 1rem;
    }
}

.estado-cuenta-container{

}









